.stylePanelBox {
   display: flex;
   align-items: center;
}

.stylePanelBox button {
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 23px;
   height: 23px;
   background-color: #fff;
   border-radius: 3px;
}

.stylePanelBox button:focus {
   box-shadow: none;
   border: none;
}

.stylePanelBox > div,
.stylePanelBox button {
   margin-right: 10px;
}

.stylePanelBox > div:last-child {
   margin: 0;
}

.stylePanelBox > div:nth-child(1) {
   width: 91px;
   margin: 0 10px 0 0;
}

.stylePanelBox .activeBtn {
   background-color: #eeeeee;
}